<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matt's March Madness</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Matt's March Madness Bracket Simulator/Creator</h1>
        <nav class="banner">
            <nav class="selection-border" id="selection-border"></nav>
            <button onclick="navigateToPage('home')">Home</button>
            <button onclick="navigateToPage('analysis')">Analysis</button>
        </nav>
    </header>
    <main id="content">
        {% block content %} <!-- Content will be replaced here -->
        {% endblock %}
    </main>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>
</html>
